/* -- Global rules -- */
* {
  border: none;
  font-family: "Hack Nerd Font";
  font-size: 15px;
  min-height: 0px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
  padding: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - General rules for visible modules -- */
#custom-osicon,
#custom-kuma-waybar,
#custom-weather,
#clock,
#cpu,
#load,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#bluetooth,
#custom-power,
#custom-spotify,
#network {
  color: #7aa2f7;
  background-color: #292e42;
  margin: 1px 0;
  padding: 0 10px;
  transition: none;
  border-top: 1px solid #7aa2f7;
  border-bottom: 1px solid #7aa2f7;
}

/* Force label padding */
#custom-osicon label,
#custom-kuma-waybar label,
#custom-weather label,
#clock label,
#cpu label,
#load label,
#memory label,
#disk label,
#temperature label,
#idle_inhibitor label,
#pulseaudio label,
#pulseaudio_slider label,
#bluetooth label,
#custom-power label,
#custom-spotify label,
#network label {
  padding: 0;
  margin: 0;
}

/* Left separation modules */
#custom-osicon,
#clock,
#cpu,
#idle_inhibitor,
#pulseaudio,
#custom-weather,
#custom-power,
#custom-spotify,
#custom-kuma-waybar {
  margin-left: 5px;
  border-left: 1px solid #7aa2f7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Right separation modules */
#custom-osicon,
#clock,
#disk,
#custom-kuma-waybar,
#idle_inhibitor,
#custom-weather,
#custom-power,
#custom-spotify,
#network {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid #7aa2f7;
}

/* -- Specific styles -- */

/* Left modules */
#custom-osicon {
  font-size: 20px;
  color: #89b4fa;
  padding-right: 17px;
}

#clock {
  color: #7dcfff;
}

#cpu {
  color: #bb9af7;
  padding-top: 1px;
}

#load {
  color: #bb9af7;
}

#memory {
  color: #f7768e;
}

#disk {
  color: #e0af68;
}

#bluetooth {
  color: #bb9af7;
}

#custom-spotify {
  color: #9ece6a;
}

#custom-spotify.paused,
#custom-spotify.stopped {
  opacity: 0.6;
}

#custom-spotify.liked {
  border-top: 1px solid #f7768e;
  border-bottom: 1px solid #f7768e;
  border-left: 1px solid #f7768e;
  border-right: 1px solid #f7768e;
}

/* Center modules */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 1px 5px;
  padding: 0px 6px;
}

/* Right modules */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 1px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  padding-left: 15px;
  padding-right: 18px;
  color: #2ac3de;
  font-size: 22px;
}

#idle_inhibitor.deactivated {
  opacity: 0.8;
}

#idle_inhibitor.activated {
  color: #f7768e;
  font-weight: bold;
}

#pulseaudio {
  color: #9ece6a;
}

#pulseaudio_slider {
  color: #9ece6a;
}

#network {
  padding-right: 13px;
  color: #e0af68;
}

#custom-kuma-waybar {
  padding-right: 15px;
}

#custom-weather {
  padding-right: 15px;
}

#custom-power {
  color: #f7768e;
  font-size: 30px;
}

/* === Optional animation (if you want to use it later) === */
@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}
